@import "./lib/components/button.module.scss";
@import "./lib//components/prespad.module.scss";
@import "./lib/components/dropdown.module.scss";
@import "./lib/fontslib.scss";
@import "./lib/palette.scss";
@import "./lib/media.scss";

// Navigation header
.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

// Page content container
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    width: 100%;
    padding: 68px 15px 15px 15px;
    min-height: 100vh;
    overflow-x: hidden;
    // Presentation Pad for Python plotlib diagram

    .diagram {
        margin: auto;
        @include prespad(300px, 345px) {
            .prespad {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: start;
            }
            h2 {
                @include mobile_h2($General)
            }
            p {
                @include mobile_primary($General, 400)
            }
            
           @include dropdown;
            .inlineContainer {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
            table {
                font-family: arial, sans-serif;
                padding-top: 15px;
                width: 100%;
              }
              td, th {
                text-align: left;
                padding: 8px;
              }
              tr:nth-child(even) {
                background-color: #dddddd;
              }
        }
    }

    @include prespad(150px, 345px) {
        .prespad {
            margin: 10px auto 10px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center
        }
        h2 {
            @include mobile_h2($White)
        }
        p {
            @include mobile_primary($White, 400)
        }
    };

    ///////////////////
    // Media SM
    ///////////////////

    @include sm {
        display: block;
        .diagram {
            margin: 25px auto 25px auto;
            @include prespad(400px, 515px) {
                .prespad {
                    margin: 25px auto 25px auto;
                }
            }
            table {
                padding-top: 50px;
              }
        }
    
        a {
            display: inline-block;
            margin: 5px 5px 5px 5px;
        } 
        @include prespad(108px, 250px){
            img {
                width: 100%;
            }
        };
    }

    ///////////////////
    // Media MD
    ///////////////////

    @include md {
        display: block;
        .diagram {
            margin: 25px auto 25px auto;
            @include prespad(500px, 900px) {
                .prespad {
                    margin: 25px auto 25px auto;
                }
            }
        }
            @include prespad(150px, 345px);
    }

}

