@import "./lib/components/inputfield.scss";
@import "./lib/components/button.scss";
@import "./lib/components/dropdown.scss";
@import "./lib/components//link.scss";

.container {
    width: 100%;
    padding: 0px 15px 0px 15px;
    height: 100vh;
    background: #ffffffff;

    @include input_field(white, grey, white);
    @include button(100%, black, grey, white);
    nav {
        @include button(68px, black, grey, white);
    }
    @include dropdown(150px,black, grey, white);
    @include link(grey, white)
}


