@import "./lib/components/button.module.scss";
@import "./lib/components/link.module.scss";
@import "./lib/components/inputfield.module.scss";
@import "./lib/components/prespad.module.scss";
@import "./lib/palette.scss";
@import "./lib/media.scss";

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    width: 100%;
    padding: 102px 15px 68px 15px;  
    @include link {
        h2 {
            margin: 5px 5px 0px 5px;
        }
        p {
            margin: 0px 5px 0px 5px;
        }
    };
    form {
        .form_content_animation {
            padding-top: 15px;
            @include input_field;
        }   
    }
    @include button;



    //////////////
    // MEDIA SM
    //////////////
    
    @include sm {
        @include link($width: 80%) {
                margin: 10px auto 10px auto;
        };
        form {
            .form_content_animation {
                width: 80%;
                margin: 15px auto 0px auto;
            }   
        }
        @include button($width: 80%);    
    }

    //////////////
    // MEDIA MD
    //////////////
    
    @include md {
        @include link($width: 650px) {
                margin: 10px auto 10px auto;
        };
        form {
            .form_content_animation {
                width: 650px;
                margin: 0px auto 0px auto;
                padding-top: 15px;
            }   
        }
        @include button($width: 650px);    
    }


}
