@import "./lib/components/button.module.scss";
@import "./lib/components/link.module.scss";
@import "./lib/components/inputfield.module.scss";
@import "./lib/components/prespad.module.scss";
@import "./lib/palette.scss";
@import "./lib/media.scss";

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align: center;
    width: 100%;
    padding: 68px 15px 15px 15px;
    
    @include prespad(100px, 90%){
        .prespad {
            margin-top: 25px;
            text-align: center;
            h2 {color: $Blue;}
        }
    };

    @include link($width: 90%) {
        h2 {
            margin: 5px 5px 0px 5px;
        }
        p {
            margin: 0px 5px 0px 5px;
        }
    };
    form {
        width: 90%;
        .form_content_animation {
            padding-top: 15px;
            @include input_field;
        }   
        @include button;    
    }



    //////////////
    // MEDIA SM
    //////////////
    
    @include md {
        @include prespad(100px, 450px){
            .prespad {
                margin-top: 25px;
                text-align: center;
                h2 {color: $Blue;}
            }
        };
    
        @include link($width: 450px) {
                margin: 10px auto 10px auto;
        };
        form {
            .form_content_animation {
                width: 80%;
                margin: 15px auto 0px auto;
            }   
            @include button($width: 450px);    
        }
    }

    //////////////
    // MEDIA MD
    //////////////
    
    @include lg {
        @include link($width: 450px) {
                margin: 10px auto 10px auto;
        };
        form {
            .form_content_animation {
                width: 650px;
                margin: 0px auto 0px auto;
                padding-top: 15px;
            }   
        }
    }
}
