@import "./lib/components/button.module.scss";
@import "./lib/components/prespad.module.scss";
@import "./lib/palette.scss";

.container {
    position: relative;
    display: flex;
    padding: 0px 40px 0px 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 68px;
    background: $navbackground;
    @include button($width:48px){
        .btn {
            transform: translateY(-25%);
        }
    };
    .profile {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        #profile_name {
            margin-right: 10px;
        }
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
    @include prespad(100vh, 100vw){
        .prespad {
            position: absolute;
            top: 68px;
            left: 0px;
            overflow-y:auto; 
            background: $background;
            padding: 0px 30px 0px 30px;
            margin: 0;
            transform: translateX(105%);
            transition: 0.4s ease-in-out;
            z-index: -1;
            h1{
                text-align: center
            }
            // QR code pres pad
            @include prespad(300px, 300px){
                .prespad {
                    position: relative;
                    top: 0px;
                    transform: translateX(0%);
                    margin: auto;
                    margin-bottom: 100px;
                }
            }
        }
    };
}