@import "./lib/components/inputfield.module.scss";
@import "./lib/components/button.module.scss";
@import "./lib/components/prespad.module.scss";
@import "./lib/palette.scss";
@import "./lib/media.scss";

.container {
    main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0px 15px 0px 15px;
    min-height: 100vh;
    @include prespad;
    form {
        width: 75%;
        // Both input fields
        @include input_field;
        // Sign In button
        @include button($shadowDark: $Green);

        @include md {
            width: 300px;
        }
    }
    .link {
        color: $ColorError
    }
}

}


